.blocks.col-xs-offset-1.col-xs-10.col-md-offset-1.col-md-5.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-4
	h4 Get Snowcoins
	.row
		.col-sm-offset-1.col-sm-11: a(href='https://github.com/inquisive/snowcoins' target='_blank') GitHub / Installation
		.col-sm-offset-1.col-sm-11 
			a(href='https://github.com/inquisive/snowcoins/latest.zip' target='_blank') Download zip
			| &nbsp;|&nbsp;
			a(href='https://github.com/inquisive/snowcoins/latest.tar.gz' target='_blank') Download gz
	h4 Built With
	.row
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-4: a(href='http://nodejs.org' target='_blank') nodejs
		.col-sm-6.col-md-4: a(href='http://keystonejs.com' target='_blank') KeystoneJS
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-4: a(href='http://getbootstrap.com/' target='_blank') Bootstrap
		.col-sm-6.col-md-4: a(href='https://github.com/countable/node-dogecoin' target='_blank') node-dogecoin
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-4: a(href='http://mongoosejs.com/' target='_blank') mongoose
	h4 Donate
	.row
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-5(title='iq') iq: <a href='https://inquisive.com/iq/snowkeeper' target='_blank'>snowkeeper</a>
		.col-sm-6.col-md-4(title='Dogecoin') <a href='https://snow.snowpi.org/share/dogecoin' target='_blank'>Ðogecoin</a>
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-5(title='Bitcoin') <a href='https://snow.snowpi.org/share/bitcoin' target='_blank'>Bitcoin</a>
		.col-sm-6.col-md-4(title='Litecoin') <a href='https://snow.snowpi.org/share/litecoin' target='_blank'>Litecoin</a>
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-5(title='Darkcoin') <a href='https://snow.snowpi.org/share/darkcoin' target='_blank'>Darkcoin</a>
	
.blocks.col-xs-offset-1.col-xs-10.col-md-offset-1.col-md-5.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-4
	h4 Digital Coin Wallets
	.row
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-5: a(href='http://dogecoin.com' target='_blank') dogecoin
		.col-sm-6.col-md-4: a(href='http://bitcoin.org' target='_blank') bitcoin
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-5: a(href='http://litecoin.org' target='_blank') litecoin
		.col-sm-6.col-md-4: a(href='http://vertcoin.org' target='_blank') vertcoin
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-5: a(href='http://octocoin.org' target='_blank') 888
		.col-sm-6.col-md-4: a(href='http://auroracoin.org' target='_blank') auroracoin
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-5: a(href='http://blackcoin.co' target='_blank') blackcoin
		.col-sm-6.col-md-4: a(href='http://digibyte.co' target='_blank') digibyte
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-5: a(href='http://digitalcoin.co' target='_blank') digitalcoin
		.col-sm-6.col-md-4: a(href='http://darkcoin.io' target='_blank') darkcoin
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-5: a(href='http://maxcoin.co.uk' target='_blank') maxcoin
		.col-sm-6.col-md-4: a(href='http://mintcoin.co' target='_blank') mintcoin
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-5: a(href='http://einsteinium.org' target='_blank') einsteinium
		.col-sm-6.col-md-4: a(href='http://peercoin.net' target='_blank') peercoin	
	h4 Links
	.row
		.col-sm-offset-1.col-sm-5.col-md-offset-1.col-md-4: a(href='http://reddit.com/r/snowcoins' target='_blank') /r/snowcoins
		.col-sm-6.col-md-4: a(href='http://reddit.com/r/dogecoin' target='_blank') /r/dogecoin
	
.clearfix
