include ../mixins/flash-messages
doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		
		title= title || 'snowcoins'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/snowhub/js/lib/jquery-ui/css/inquisive/jquery-ui-1.10.4.custom.css" rel="stylesheet")
		link(href="/snowhub/styles/site.min.css", rel="stylesheet")
			
		block css	
		block head
	body.default(class=user.defaultTheme || 'themeable-'+user.theme.replace(' ',''))
		block content
				
	//- scripts
	block js
			
	
