#chatbox.d3ccontent.col-xs-12
	.userbox.col-xs-12.col-sm-3.col-md-2
		#chatusers
	.messagebox.col-xs-12.col-sm-9.col-md-10
		#chatmessages
	.clearfix.sendbox.col-xs-12
		.col-xs-8.col-sm-9.col-md-10
			input#s-message.form-control
			input#s-room(type='hidden' value='')
		.col-xs-4.col-sm-3.col-md-2
			button#s-send.btn.btn-default Send
	.clearfix
.clearfix
