extends ../../layouts/default

include ../../mixins/advertisement

block content
	//- About
	section.section.home-about: .container
		h2.logo inquisive
			br
			br
		p: a(href='/snowcoins') Learn  about snowcoins, the digital coin coordinator (DCC) and wallet manager.
	

block js
	// twitter
	script.

			
