extends ../../layouts/react
block head
block content
	.fademessage(style='display:none;')
		.html
		.killfademessage(onClick="snowUI.killFlash('message')" )
			button.close(type="button")
				span(aria-hidden="true") &times;
				span.sr-only Close
	.fadeloadingmessage(style='display:none;')
		.html
		.killfademessage(onClick="snowUI.killFlash('loadingmessage')" )
			button.close(type="button")
				span(aria-hidden="true") &times;
				span.sr-only Close
	.fadesuccess
		.html
		.killfademessage(onClick="snowUI.killFlash('success')" )
			button(type="button").close
				span(aria-hidden="true") &times;
				span.sr-only Close
	.fadeerror(style='display:none;')
		.html
		.killfademessage(onClick="snowUI.killFlash('error')" )
			button.close(type="button")
				span(aria-hidden="true") &times;
				span.sr-only Close
	#snowcoins-react
	#snowcoins-loader
		.loader(style='display:none;')
			|  <br />
			div#loadgif(style="")
block js
	script.
		var snowUI = {};
		snowUI._csrf = '#{locals.token}';
	
	script(src='/api/snowcoins/simple/language')
	
	script(src='/snowhub/js/libraries.min.js')
	
	script(src='/snowhub/js/snowbug.js')
	script(src='/snowhub/js/ui.min.js')
	
	script #{locals.data.defaultcoins}
	
	script(src='/bonetemplates')
		
		
