extends ../../layouts/react
block head
	script #{locals.data.defaultcoins}
block content
	.fademessage(style='display:none;')
		.html
		.killfademessage(onClick="snowUI.killFlash('message')" )
			button.close(type="button")
				span(aria-hidden="true") &times;
				span.sr-only Close
	.fadeloadingmessage(style='display:none;')
		.html
		.killfademessage(onClick="snowUI.killFlash('loadingmessage')" )
			button.close(type="button")
				span(aria-hidden="true") &times;
				span.sr-only Close
	.fadesuccess
		.html
		.killfademessage(onClick="snowUI.killFlash('success')" )
			button(type="button").close
				span(aria-hidden="true") &times;
				span.sr-only Close
	.fadeerror(style='display:none;')
		.html
		.killfademessage(onClick="snowUI.killFlash('error')" )
			button.close(type="button")
				span(aria-hidden="true") &times;
				span.sr-only Close
	#snowcoins-react
	#snowcoins-loader
		.loader(style='display:none;')
			|  <br />
			div#loadgif(style="")
block js
	script.
		var _csrf = '#{locals.token}';
	
	script(src='/snowhub/js/libraries.min.js')
	
	script(src='/api/snowcoins/simple/language')
	script(src='/bonetemplates')

	script(src='/snowhub/js/snowbug.js')
	script(src='/snowhub/js/allinone.js')
	

		
		
